{% extends 'pagination_base.html' %}

{% block content %}
{% if objects %}
    <ul>
        {% for photo in objects %}
        <li>
        {{ photo.title }}
        <a href="{% url 'photo' photo.gallery.owner.pk photo.gallery.pk photo.pk %}">
        <img src="{{MEDIA_URL}}{{ photo.thumbnail_small }}" alt="">
        </a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block edit_panel %}
{% if request.owner %}
<a href="{% url 'photo_add' request.user.pk gallery_id %}">Добавить фотографию</a>
<a href="{% url 'object_delete' request.user.pk gallery_id %}">Удалить галерею</a>
{% endif %}
{% endblock %}
