{% extends 'base.html' %}

{% load comments %}

{% block content %}
{% if photo %}
    <p>{{ photo.title }}</p>
    <a href="{{ MEDIA_URL }}{{ photo.image }}">
        <img src="{{ MEDIA_URL }}{{ photo.thumbnail_large }}"></img>
    </a>
    <p>{{ photo.description }}</p>
{% endif %}
{% endblock %}

{% block edit_panel %}
{% if request.owner %}
<a href="{% url 'photo_edit' request.user.pk photo.gallery.pk photo.pk %}">Редактировать описание</a>
<a href="{% url 'object_delete' request.user.pk photo.gallery.pk photo.pk %}">Удалить</a>
{% endif %}
{% endblock %}

{% block comments %}
{% if photo %}
    {% get_comment_count for photo as comments_count %}
    <p>Комментариев: {{ comments_count }}</p>

    {% render_comment_form for photo %}
    {% render_comment_list for photo %}
{% endif %}
{% endblock %}
