<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
    <!-- header -->
    {% block login %} 
        <a href="{{ request.current_path.parent }}">Назад</a>
        {% if user.is_anonymous %}
            <a data-role="button" href="{% url 'login' %}">Войти</a>
            <a data-role="button" href="{% url 'register' %}">Зарегистрироваться</a>
        {% else %}
        <a href="{% url 'owner' request.user.pk %}">{{ user.username }}</a>
            <a data-role="button" href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    {% endblock %}
    <!-- end header -->

    <!-- messages -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- end messages -->

    {% block content %}{% endblock %}
    {% block pagination %}{% endblock %}
    {% block edit_panel %}{% endblock %}
    {% block comments %}{% endblock %}
    </body>
</html>
