<div>
    <div>
        {% for comment in comment_list %}
        <ul class="list-group">
            <li class="list-group-item">
            <b>{{ comment.user|default:'Аноним' }}</b> 
            <p class="text-right">{{ comment.submit_date }}</p>

            <p>{{ comment.comment }}</p>

            {% if request.owner %}
                <a href="{% url 'comment_delete' request.user.pk comment.content_object.gallery.pk comment.object_pk comment.pk %}">Удалить</a>
            {% endif %}
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
